@charset "utf-8";
/* CSS Document */
.buttons-MI {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-MD {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-II {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-ID {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-BD {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-BI {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-C {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-CI {
	background:rgba(0, 105, 137, 0.7);
}
#pickcrudo {
	height:30px;
	width:30px;
	background-color:#fff8d4 ;
	border-radius: 50%;	
	}
#pickbeige {
	height:30px;
	width:30px;
	background-color:#e8e3c8 ;
	border-radius: 50%;	
	}
#picktopo {
	height:30px;
	width:30px;
	background-color:#424245 ;
	border-radius: 50%;	
	
	}
#pickperla {
	height:30px;
	width:30px;
	background-color:#bdc3c3 ;
	border-radius: 50%;	
	}
#pickfucsia {
	height:30px;
	width:30px;
	background-color:#d4305e ;
	border-radius: 50%;	
	
}
#pickuva {
	height:30px;
	width:30px;
	background-color:#511024 ;
	border-radius: 50%;	
}
#pickvioleta {
	height:30px;
	width:30px;
	background-color:#5a2a5e ;
	border-radius: 50%;	
}
#pickcoral {
	height:30px;
	width:30px;
	background-color:#f78b86 ;
	border-radius: 50%;	
}
#pickbordo {
	height:30px;
	width:30px;
	background-color:#b81c3e ;
	border-radius: 50%;	
}
#pickrojo {
	height:30px;
	width:30px;
	background-color:#ed2c2d ;
	border-radius: 50%;	
}
#picksalmon {
	height:30px;
	width:30px;
	background-color:#d3543c ;
	border-radius: 50%;	
}
#pickazulpetroleo {
	background-color:#134474;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickmarino  {
	background-color:#120c3b;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickturquesa {
	background-color:#009ccf;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickceleste {
	background-color:#7ab8db;
	height:30px;
	width:30px;
	display:inline-block;
	border-radius: 50%;	
}
#pickatlantis {
	background-color:#1c9191;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickverdepetroleo {
	background-color:#006b59;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickmarea {
	background-color:#7ddbc9;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickingles {
	background-color:#005b31;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickmilitar {
	background-color:#535f2a;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickmanzana {
	background-color:#92b175;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#pickbrasil {
	background-color:#00a631;
	height:30px;
	width:30px;
	border-radius: 50%;	
}
#reset {
	height:50px;
	display:inline-block;
	color:black;
	position: relative;
    bottom: 20px;
	margin-top:30px;
	}
input.btn.btn-danger {
    display: block;
    clear: both;
    margin-top: 45px; }
.buttons input {
	border:1px solid;
}
buttons-MI {
	display:none;
}
input:hover {
	opacity:0.7;
}
.buttonsDERECHA {
	display:inline-block;
}
.buttons {
	padding:5px;
	margin-bottom:5px;
	box-shadow: -5px -5px 0px #dd2c8c;
}
.buttons p {
    line-height: 1;
	padding:7px;
	text-align:center;
}
.buzo {
	text-align:center;
	margin:0 auto;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
} 
.img-responsive-buzo {
	height: 500px;
	cursor:pointer;
}
.botonera {
	position:absolute; 
	top:200px; 
	left:50px;
	z-index:999;
}

@media (max-width: 768px) {
	.buzo {
		width:100%;
		height:100%;
		padding-top:50px;
	}
	.botonera {
		left:0px;
	}

}
@media (max-height: 495px) {
	.buzo {
		max-height:400px;
	}
}
@media (max-height: 496px) {
	.buzo {
		max-height:400px;
	}
}
