@charset "utf-8";
/* CSS Document */
.buttons-MI {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-MD {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-II {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-ID {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-BD {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-BI {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-C {
	background:rgba(0, 105, 137, 0.7);
}
.buttons-CI {
	background:rgba(0, 105, 137, 0.7);
}
#pickcrudo {
	height:20px;
	width:20px;
	background-color:#fff8d4 ;
	display:inline-block;
	
	}
#pickbeige {
	height:20px;
	width:20px;
	background-color:#e8e3c8 ;
		display:inline-block;
	}
#picktopo {
	height:20px;
	width:20px;
	background-color:#424245 ;
		display:inline-block;
	
	}
#pickperla {
	height:20px;
	width:20px;
	background-color:#bdc3c3 ;
		display:inline-block;
	}
#pickfucsia {
	height:20px;
	width:20px;
	background-color:#d4305e ;
		display:inline-block;
	
}
#pickuva {
	height:20px;
	width:20px;
	background-color:#511024 ;
		display:inline-block;
}
#pickvioleta {
	height:20px;
	width:20px;
	background-color:#5a2a5e ;
	display:inline-block;
}
#pickcoral {
	height:20px;
	width:20px;
	background-color:#f78b86 ;
	display:inline-block;
}
#pickbordo {
	height:20px;
	width:20px;
	background-color:#b81c3e ;
	display:inline-block;
}
#pickrojo {
	height:20px;
	width:20px;
	background-color:#ed2c2d ;
	display:inline-block;
}
#picksalmon {
	height:20px;
	width:20px;
	background-color:#d3543c ;
	display:inline-block;
}
#pickazulpetroleo {
	background-color:#134474;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickmarino  {
	background-color:#120c3b;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickturquesa {
	background-color:#009ccf;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickceleste {
	background-color:#7ab8db;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickatlantis {
	background-color:#1c9191;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickverdepetroleo {
	background-color:#006b59;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickmarea {
	background-color:#7ddbc9;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickingles {
	background-color:#005b31;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickmilitar {
	background-color:#535f2a;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickmanzana {
	background-color:#92b175;
	height:20px;
	width:20px;
	display:inline-block;
}
#pickbrasil {
	background-color:#00a631;
	height:20px;
	width:20px;
	display:inline-block;
}
#reset {
	height:50px;
	display:inline-block;
	color:black;
	position: relative;
    bottom: 20px;
	}
.pickclose {
	height: 15px;
    width: 15px;
    background-color: #c30000;
    display: inline-block;
    color: #fff;
    padding: 0px;
    font-size: 5px;
    border-radius: 10px;
    margin-left: 10px;
	border:1px solid white !important;
	position: relative;
    top: -37px;
}
.buttons input {
	border:1px solid;
}
buttons-MI {
	display:none;
}
input:hover {
	opacity:0.7;
}
.buttonsDERECHA {
	display:inline-block;
}
.buttons {
	padding:5px;
	margin-bottom:5px;
}
.buttons p {
    line-height: 1;
}
.buzo {
	text-align:center;
	margin:0 auto;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
} 
.img-responsive-buzo {
	height: 500px;
}
.botonera {
	position:absolute; 
	top:200px; 
	left:50px;
}

@media (max-width: 768px) {
	.buzo {
		width:100%;
		height:100%;
		padding-top:50px;
	}
	.botonera {
		left:0px;
	}
	.pickclose {

    	left: 230px;
		top:0px;

	}
}
@media (max-height: 495px) {
	.buzo {
		max-height:400px;
	}
}
@media (max-height: 496px) {
	.buzo {
		max-height:400px;
	}
}
